# Python
env/
**/__pycache__/
*.py[cod]
*.pyo
*.pyd

# Django
db.sqlite3
*.log
/staticfiles/
media/

# Node / Frontend
node_modules/
dist/
build/
npm-debug.log*
yarn-error.log*

# IDEs / Editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db
